/*Responsivo para Celular horizontal*/
@media (min-width: 10PX) and (max-width: 500px) {
  #elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-clean .col-md-3,
  .footer-clean .col-lg-3 {
    flex: 1;
    min-width: 220px;
    margin: 0 0 20px 40px;
  }

  h2 {
    font-size: 15px;
    text-align: center;
  }

  #parent-container {
    width: 85%;
    display: contents;
    background-color: #ffc0cb8a;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #311f235e;
    padding: 20px;
  }

  #container {
    width: 90%;
    background-color: #ffc0cb80;
    border-style: solid;
    border-color: #e86f88;
    text-align: center;
    border-radius: 20px;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #import-container {
    width: 90%;
    background-color: #ffe6ea;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #e86f88;
    float: inline-end;
  }

  #note-container {
    width: 90%;
    background-color: #ffe6ea;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #e86f88;
    margin: 10px 0;
  }

  #parent-container-2 {
    width: 90%;
  }
}

/*Responsivo para Celular vertical*/
@media (min-width: 340PX) and (max-width: 740px) {
  #elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-clean .col-md-3,
  .footer-clean .col-lg-3 {
    flex: 1;
    min-width: 220px;
    margin: 0 0 20px 40px;
  }
}

/*Responsivo para tablet horizontal-vertical*/

@media(min-width: 760PX) and (max-width: 1024px) {
  #elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-clean .col-md-3,
  .footer-clean .col-lg-3 {
    flex: 1;
    min-width: 220px;
    margin: 0 0 20px 40px;
  }
}